body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}


.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #f40606;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cart {
    border: none;
    position: absolute; 
    right: 160px;
}




.card{
    background-color:white;
}

.CheckoutPage{
    position: relative;
    

}

.test{
    position: absolute;
    left: 530px;
}

.continueButton{
    position: relative;
    left: 300px;
}

.cancelButton{
    position: relative;
    right: 300px;
    top: 55px;
}

.contentImage{
    width: 20px;
    height: 20px;
}
  
.CupBoard{
    position: absolute;
    left: 350px ;
    bottom: 100px;
    background: rgb(244, 242, 242);
}