<div *ngIf="isUserLoggedIn">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span><img src="https://hatchfast.dev/assets/img/HatchFast_Logo-Design_Inverted-Png%201.png"> <label>Demo</label></span> -->
    <span class="example-spacer"></span>
    <span (click)="showCartPage()" class="cartIcon">
      <span class="cartCount">{{cartCount}}</span>
      <mat-icon class="cart" routerlink="/ShoppingCartComponent">add_shopping_cart</mat-icon>
    </span>
  </mat-toolbar>
</div>

<div style="margin-top: 100px;">
  <router-outlet></router-outlet>
</div>
