body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}


.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #f40606;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card{
    background-color:white;
}

.CheckoutPage{
    position: relative;
    

}

.cart{
    position: absolute;
    right: 10px;
    top: 16px;
}

.test{
    position: absolute;
    left: 530px;
}

.continueButton{
    position: relative;
    left: 300px;
}

.cancelButton{
    position: relative;
    right: 300px;
    top: 55px;
}

.contentImage{
    width: 20px;
    height: 20px;
}
  

.cartCount{
    background-color: #e2231a;
    border-radius: 10px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    color: #fff;
    font-weight: 400;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    font-size: 11px;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    position: fixed;
    top: 0px;
    z-index: 100;
}