<div class="login-container">
  <form [formGroup]="loginForm">

    <mat-form-field class="login-form-field">
      <mat-label>Username</mat-label>
      <input matInput #message maxlength="256" formControlName="userName">
      <mat-error>Username is required</mat-error>
    </mat-form-field>
    <mat-form-field class="login-form-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput #message maxlength="256" formControlName="password">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" [disabled]="this.loginForm.invalid" (click)="loginButtonClick()">Log
        in</button>
    </div>
  </form>
</div>