.divTable {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin-top: 12%;
    width: 70%;
    margin-left: 10%;
    margin-top: 4%;
}

.heading {
    margin-left: 4%;
    margin-top: 1%;
    padding-top: 1%;
}

.info {
    text-align: left;
    margin-top: 12%;
    margin-left: 10%;
    margin-top: 5%;
}
.finishButton {
    display: table-cell;
    font-size: 14px;
    left: 75%;
    min-width: 120px;
    display: table-cell;
}

.cancelButton {
    display: table-cell;
    font-size: 14px;
    margin-left: 13%;
    min-width: 120px;
    display: table-cell;
}

.cart {
    position: absolute;
    right: 10px;
    top: 16px;
}

.container {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    border: 0.09em solid #ededed;
    display: block;
    padding: 50px 0px;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */

}

.product-img {
    width: 100%;
    height: 250px;
    padding-top: calc(100% * 0.25);
}



.product-card {
    padding: 10px;
    width: 98%;
    margin: 10px;
    /* width: 500px; */
    display: -webkit-box;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-card:hover {
    /* background-color: paleturquoise; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productTitle {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.productDescription {
    text-align: start;
    height: 44px;
    text-overflow: ellipsis;
    /* width: 200px; */
    overflow: hidden;
}

.price {
    text-align: left;
    font-weight: 600;
    width: 60px;
}

.qty {
    width: 60px;
    padding: 5px;
}

.grid-item {
    width: 85%;
    text-align: start;
}

.priceButtonContainer {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
}

.removeFromCart {
    position: relative;
    display: block;
    right: 0px;
    left: 95%;
}

.continueButton {
    /* background-color: transparent; */
    /* border-radius: 0px;
    padding: 10px 10px 10px; */
    margin-left: 60%;
}

.cancelButton {
    /* background-color: transparent; */
    /* border-radius: 2px;
    padding: 10px 10px 15px; */
    margin-left: 10%;
    /* margin-top: 5%; */
}