<!-- <div>
    <ul>
        <li *ngFor="let product of shopProducts">
          {{product.name}}
        </li>
      </ul>
</div> -->

<!-- <div>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <span class="example-spacer"></span>
    <mat-icon class="cart">add_shopping_cart</mat-icon>
  </mat-toolbar>
</div> -->

<div class="pageTitle">
  Products
</div>

<div class="container">
  <!-- <ul>
    <li *ngFor="let product of shopProducts">
      {{product.name}}
    </li>
  </ul> -->
  <mat-card class="product-card" alt="content" *ngFor="let product of shopProducts">
    <div class="grid-item" routerLink="/product/{{product.id}}">
      <mat-card-title class="productTitle">{{product.name}}</mat-card-title>
      <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/products/{{product.imageUrl}}"
          alt="content">
        <p class="productDescription" matTooltip="{{product.description}}"> {{product.description}} </p>
        <p class="price">${{product.price}}</p>
      </div>
    </div>
    <div class="example-button-row ">

      <button mat-stroked-button color="warn" (click)="addToCart(product.id)">Add to Cart</button>

    </div>
  </mat-card>