<div class="pageTitle">
    Checkout Complete!
</div>
<br>
<br>

<div class="img">
    <img src="https://cdn-icons-png.flaticon.com/128/4357/4357420.png" alt="order.png">
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>
        Thank you for the order!
    </h1>
    <h4>
        Your order has been dispatched and reach as soon as cloud gets 
        there!
    </h4>
</div>
<br>
<br>
<div>
    <button  mat-raised-button color="primary"    class="HomeBtn"  routerLink="/shop" > &lt;- Back Home</button>
</div>